In [1]:
import mod_sql

In [4]:
d = mod_sql.Database()

In [5]:
select_sql = "SELECT * FROM user_info"

d.executeAll(select_sql)

[{'ID': 'test',
  'PW': '1234',
  'name': '고길동',
  'phone': '01012345678',
  'adrs': '서울특별시 강북구 쌍문동',
  'gender': 1,
  'age': 45,
  'regst_date': '20220310'},
 {'ID': 'test2',
  'PW': '4567',
  'name': '둘리',
  'phone': '01098765432',
  'adrs': '북극',
  'gender': 1,
  'age': 10,
  'regst_date': '20220310'},
 {'ID': 'test3',
  'PW': '7894',
  'name': '마이콜',
  'phone': '01078945612',
  'adrs': '고길동 옆집',
  'gender': 1,
  'age': 28,
  'regst_date': '20220310'},
 {'ID': 'test4',
  'PW': '4521',
  'name': '또치',
  'phone': '0101235987',
  'adrs': '동물원',
  'gender': 2,
  'age': 4,
  'regst_date': '20220310'},
 {'ID': 'test5',
  'PW': '9517',
  'name': '도우너',
  'phone': '01012854967',
  'adrs': '깐따삐야 행성',
  'gender': 1,
  'age': 300,
  'regst_date': '20220311'},
 {'ID': 'test6',
  'PW': '9843',
  'name': '희동이',
  'phone': '01056897585',
  'adrs': '고길동네 집',
  'gender': 1,
  'age': 2,
  'regst_date': '20220311'}]